# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# project specific
# .pem & .key files are frequently output from the create command
# I'm adding the file extension to be ignored becuase they're only
# ever created as part of testing and shouldn't be added to the repo
*.pem
*.key
# this is the name of the binary output by go build, dont want to check that in
sssh
